.carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: rotateX(-10deg) translateY(200px);
  transform-style: preserve-3d;
  perspective: 1000px;
  user-select: none;
  cursor: grab;
  border: 2px solid rgba(255, 255, 255, 0.01);
  /* overflow: hidden; */
}

.carouselImage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 201px;
  height: 200px;
  transform: translate3d(0, 0, -10px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  backface-visibility: hidden;
  /* border: 2px solid black; */
  /* transform-origin: 50% 50%; */
}

@media (max-width: 600px) {
  .carousel {
    transform: rotateX(-10deg) scale(.6) translateY(-60px);
  }
}